language: python
python: 3.6
cache: pip
install:
  - pip install jsondiff cfn-lint taskcat==0.8.50
  - wget https://github.com/Sage-Bionetworks/infra-utils/archive/master.zip -O /tmp/infra-utils.zip
  - unzip -j -n /tmp/infra-utils.zip -x "infra-utils-master/.gitignore" "infra-utils-master/LICENSE" "infra-utils-master/*.md" "infra-utils-master/aws/*"
  - ./setup_aws_cli.sh || travis_terminate 1
  - pip install pre-commit aws-sam-cli
stages:
  - name: validate
  - name: test
    if: branch = master AND type = push
  - name: deploy
    if: (tag =~ ^v) OR (branch = master AND type = push)
jobs:
  fast_finish: true
  include:
    - stage: validate
      script:
        - pre-commit run --all-files
        - sam build --build-dir lambdas/build/rotate-credentials --base-dir lambdas/rotate-credentials --template lambdas/rotate-credentials/template.yaml
        - sam build --build-dir lambdas/build/cfn-explode-macro --base-dir lambdas/cfn-explode-macro --template lambdas/cfn-explode-macro/template.yaml
        - sam build --build-dir lambdas/build/cfn-s3objects-macro --base-dir lambdas/cfn-s3objects-macro --template lambdas/cfn-s3objects-macro/template.yaml
        - pushd lambdas/cfn-explode-macro && python -m pytest tests/ -v && popd
    - stage: test
      script:
        - sam build --build-dir lambdas/build/rotate-credentials --base-dir lambdas/rotate-credentials --template lambdas/rotate-credentials/template.yaml
        - sam package --template-file lambdas/build/rotate-credentials/template.yaml --s3-bucket essentials-awss3lambdaartifactsbucket-x29ftznj6pqw --output-template-file templates/rotate-credentials.yaml
        - sam build --build-dir lambdas/build/cfn-explode-macro --base-dir lambdas/cfn-explode-macro --template lambdas/cfn-explode-macro/template.yaml
        - sam package --template-file lambdas/build/cfn-explode-macro/template.yaml --s3-bucket essentials-awss3lambdaartifactsbucket-x29ftznj6pqw --output-template-file templates/cfn-explode-macro.yaml
        - sam build --build-dir lambdas/build/cfn-s3objects-macro --base-dir lambdas/cfn-s3objects-macro --template lambdas/cfn-s3objects-macro/template.yaml
        - sam package --template-file lambdas/build/cfn-s3objects-macro/template.yaml --s3-bucket essentials-awss3lambdaartifactsbucket-x29ftznj6pqw --output-template-file templates/cfn-s3objects-macro.yaml
        - taskcat -c ci/taskcat.yml --tag owner=taskcat || travis_terminate 1
    - stage: deploy
      script:
        - sam build --build-dir lambdas/build/rotate-credentials --base-dir lambdas/rotate-credentials --template lambdas/rotate-credentials/template.yaml
        - sam package --template-file lambdas/build/rotate-credentials/template.yaml --s3-bucket essentials-awss3lambdaartifactsbucket-x29ftznj6pqw --output-template-file templates/rotate-credentials.yaml
        - sam build --build-dir lambdas/build/cfn-explode-macro --base-dir lambdas/cfn-explode-macro --template lambdas/cfn-explode-macro/template.yaml
        - sam package --template-file lambdas/build/cfn-explode-macro/template.yaml --s3-bucket essentials-awss3lambdaartifactsbucket-x29ftznj6pqw --output-template-file templates/cfn-explode-macro.yaml
        - sam build --build-dir lambdas/build/cfn-s3objects-macro --base-dir lambdas/cfn-s3objects-macro --template lambdas/cfn-s3objects-macro/template.yaml
        - sam package --template-file lambdas/build/cfn-s3objects-macro/template.yaml --s3-bucket essentials-awss3lambdaartifactsbucket-x29ftznj6pqw --output-template-file templates/cfn-s3objects-macro.yaml
        - ./deploy-templates.sh || travis_terminate 1
